@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
/* @import "tailwindcss" prefix(tw); */
/* Now if we have to use this prefix in className it should be used like "className='tw:text-yellow-500' " */

/* @plugin "daisyui" */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@theme {
  /* Font */
  --font-montserrat: "Montserrat", "sans-serif";
  --font-playfair: "Playfair Display", "Montserrat", "sans-serif";
  --font-palanquin: "Palanquin", "sans-serif";

  /* Screens/ breakpoint */
  --breakpoint-*: initial;
  --breakpoint-xs: 12px;
  --breakpoint-sm: 14px;
  --breakpoint-base: 16px;
  --breakpoint-lg: 18px;
  --breakpoint-xl: 20px;
  --breakpoint-xl: 24px;
  --breakpoint-xl: 28px;
  --breakpoint-xl: 48px;
  --breakpoint-xl: 96px;

  /* Color */
  --color-primary: #eceeff;
  --color-coral-red: #ff6452;
  --color-slate-gray: #6d6d6d;
  --color-plale-blue: #f5f6ff;
  --color-white-400: rgba(255, 255, 255, 0.8);

  /* Box shadow */
  --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

  /* background image */
  --bg-hero-img: url("assets/images/collection-background.svg");
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-500 pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-500 max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-500 text-lg leading-7;
  }
}
